.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: #9D5353;
    border: 5px solid rgb(247, 204, 172);
    box-sizing: border-box;
}

.wall {
    background-color: #3A3845;
}

.power-pellet {
    background-color: #B3541E;
    border-radius: 10px;
}