    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        height: 700px;
        border: solid black;
    }
    
    .grid div {
        width: 25px;
        height: 25px;
    }
    
    .pac-dot {
        background-color: #9D5353;
        border: 5px solid rgb(247, 204, 172);
        box-sizing: border-box;
    }
    
    body {
        background-color: aliceblue;
    }
    
    .wall {
        background-color: #3A3845;
    }
    
    .strawberry {
        background-color: rgb(247, 204, 172);
    }
    /*.pac-man {
        background-color: yellow;
        border-radius: 10px;
    }